<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Tree View</title>
    {% assets "css_assets" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
  </head>
  <body>
  	<div class="container">
        <div class="col-md-3">
            <h2>Input</h2>
            <!-- <form> -->
              <div class="form-group">
                <label for="input-search" class="sr-only">Search Tree:</label>
                <input type="input" class="form-control" id="input-search" placeholder="Type to search..." value="">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="checkbox" id="chk-ignore-case" value="false">
                  Ignore Case
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="checkbox" id="chk-exact-match" value="false">
                  Exact Match
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="checkbox" id="chk-reveal-results" value="false">
                  Reveal Results
                </label>
              </div>
              <button type="button" class="btn btn-success" id="btn-search">Search</button>
              <button type="button" class="btn btn-default" id="btn-clear-search">Clear</button>
              <div id="search-output">
                    <p></p>
              </div>
            <!-- </form> -->
          </div>
        <div class="col-md-3">
            <h2>Input</h2>
            <!-- <form> -->
              <div class="form-group">
                <label for="input-search2" class="sr-only">Search Tree Query:</label>
                <input type="input" class="form-control" id="input-search2" placeholder="Type to search..." value="">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="checkbox" id="chk-ignore-case" value="false">
                  Ignore Case
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="checkbox" id="chk-exact-match" value="false">
                  Exact Match
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="checkbox" id="chk-reveal-results" value="false">
                  Reveal Results
                </label>
              </div>
              <button type="button" class="btn btn-success" id="btn-search2">Search</button>
              <button type="button" class="btn btn-default" id="btn-clear-search2">Clear</button>
              <div id="search-output2">
                    <p></p>
              </div>
            <!-- </form> -->
          </div>
          <div class="col-md-3">
              <h1>Bootstrap Tree View - DOM Tree</h1>
              <br/>
              <div class="row">
                <div class="col-sm-12">
                  <label for="treeview"></label>
                  <div id="treeview"/>
                  </div>
                </div>
              </div>
            </div>

    <script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
    {% assets "js_assets" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript">

        // Document is ready
        // $(function() {

        var string_json
        $.getJSON("tree.json", function(json) {
            string_json = JSON.stringify(json);
            buildMenu()
        });

        function buildMenu() {

        var $searchableTree = $('#treeview').treeview({
              expandIcon: "glyphicon glyphicon-stop",
              collapseIcon: "glyphicon glyphicon-unchecked",
              showBorder: false,
              selectable: false,
              levels: 2,
              enableLinks: true,
              onhoverColor: '#eee',

              data: string_json,
        });

        var search = function(e) {
          var pattern = $('#input-search').val();
          var options = {
            ignoreCase: $('#chk-ignore-case').is(':checked'),
            exactMatch: $('#chk-exact-match').is(':checked'),
            revealResults: $('#chk-reveal-results').is(':checked')
          };
          var results = $searchableTree.treeview('search', [ pattern, options ]);

          //   Collapse All
          $searchableTree.treeview('collapseAll', { silent: true });
          var output = '<p>' + results.length + ' matches found</p>';
          $.each(results, function (index, result) {
            output += '<p>- ' + result.text + '</p>';
            $searchableTree.treeview('revealNode', [ result, { silent: true } ]);
          });
          $('#search-output').html(output);
        };

        $('#btn-search').on('click', search);
        // $('#input-search').on('keyup', search);

        $('#btn-clear-search').on('click', function (e) {
          $searchableTree.treeview('clearSearch');
          $('#input-search').val('');
          $('#search-output').html('');
        });
    };


    function search2(e){
    var pattern = $('#input-search2').val();
    var string_json;
        $.getJSON("2015/search?query="+pattern, function(json) {
            // results = json;
            // results = JSON.parse(json);
            results = JSON.stringify(json);
            buildResults(results)
        });
    };

    function buildResults(results){
        // $.each(results, function (index, result) {
        //   output += '<p>- ' + result.text + '</p>';
        // });
        $('#search-output2').html(results);

    };

    $("#btn-search2").click(function() {
        search2()
    });
    // $('#btn-search2').on('click', search2());
    // $('#input-search').on('keyup', search);

  	</script>

  </body>
