{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 center">

            <div class="panel panel-default">

                <div class="panel-heading">Congratulations</div>

                <div class="panel-body">

                    <p>Your email has been verified.</p>

                    <a href="{{ url_for('login') }}" class="btn btn-primary")>Login</a>

                </div>
                <div class="panel-footer"></div>
            </div>

        </div>
    </div>
</div>

</form>
{% endblock %}
