{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 center">

            <div class="panel panel-default">

                <div class="panel-heading">Welcome</div>

                <div class="panel-body">

                    <form action="" method="post" name="login" class="form-horizontal">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"></div> -->
                                {{ form.email(class='form-control',id='inputEmail3',placeholder='Email', type='email') }}
                            </div>
                        </div>

                        <div class="form-group"  style="margin-top: -5px;">
                            <div class="col-sm-offset-2 col-sm-10">
                                {% for error in form.email.errors %}
                                <small><p class="text-danger">{{ error }}</p></small>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                {{ form.password(type="password", class="form-control", id="inputPassword3", placeholder="Password") }}
                            </div>
                        </div>
                        <div class="form-group"  style="margin-top: -5px;">
                            <div class="col-sm-offset-2 col-sm-10">
                                {% for error in form.password.errors %}
                                <small><p class="text-danger">{{ error }}</p></small>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>{{ form.remember_me }} Remember Me</label>
                                    <!-- <input type="checkbox">Remember me</label> -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="panel-footer"><a href="/account/create">Create Account</a></div>
            </div>

        </div>
    </div>
</div>

</form>
{% endblock %}
