{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 center">

            <div class="panel panel-default">

                <div class="panel-heading">{{ user.firstname}} {{user.lastname}}</div>

                <div class="panel-body">

                    <p><stron>Email: </stron>{{ user.email }}</p>
                    <p><stron>Email-Confirmed: </stron>{{ user.email_confirmed }}</p>

                </div>
                <div class="panel-footer"><a href="/account/create"></a></div>
            </div>

        </div>
    </div>
</div>

</form>
{% endblock %}
