

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.alert {
  position: absolute;
  top: 75px;
  /*bottom: 20px;*/
  left: 50px;
  right: 50px;
}

/*added to center panels*/
.center {
  margin:0px;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

a {
  /*text-decoration: None;*/
  /*color: #666*/
}

.navbar {
  border-radius: 0px;
  border: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  /*color: #008cba;*/
  /*color: #18bc9c;*/
  /*background-color: inherit;*/
}

.navbar-brand {
    /*font-weight: 100;*/
    /*font-size: 14px;*/
}


div {
    /*border:2px solid black !important;*/
}

html, body {
    margin: 0px;
    overflow: hidden;
}

#content {
    height: 100vh;
    /*margin-bottom:40px;*/
}

#sidebar {
background-color: #eee;
border-right: 1px solid #ddd;
}

@media (min-width: 900px){
    #sidebar {
        position: absolute;
        top: 45px;
        bottom: 0;
        left: 0;
        width: 30%;
        overflow-y: auto;
        margin-bottom: 40px;
        min-width: 275px;
        padding:0px;
        /*padding-left: 20px;*/
        /*padding-top: 20px;*/
        /*padding-right: 12px;*/
        /*padding-bottom: 20px;*/
    }
    #main {
        position: absolute;
        top: 45px;
        bottom: 0;
        right: 0;
        width: 70%;
        overflow-y: scroll;
        margin-bottom: 40px;
        /*padding-top: 20px;*/
        /*padding-right: 40px;*/
    }
    #sidebarsearch {
        padding:20px;
        margin-bottom:0px;
        margin-top:0px;

    }
    span.indent{
    margin-left: 4px;
    margin-right: 4px;
    }
    span#menu-loading{
    padding-left: 15px;
    }
    li.list-group-item{
    padding-top:6px;
    padding-bottom:6px;

    }
}
}
@media (max-width: 900px){
    #content {
        /*height: 100%;*/
        overflow-y: scroll;
    }
    #sidebar {
        position: relative;
        /*height:100%;*/
        /*overflow-y: scroll;*/
        margin-bottom: 40px;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    #main {
        position: relative;
        /*height:100%;*/
        /*overflow-y: scroll;*/
        margin-bottom: 40px;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
}
#comment-bar{
    margin-top: 50px;
    /*font-size:10px;*/
}

#myfooter {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #ddd;
    /*background-color: #dce4e6;*/
    padding-top: 2px;
    line-height: 40px;
    height: 40px;
    width: 100%;
}

#myfooter p {
    font-size: 70%;
    text-align: center;
    color: #999;
}
#myfooter a {
    color: #999;
}

#search{
    /*display:inline-block;*/
    max-width: 400px;
}

ul.CollapsibleList li {
padding-bottom:2px;
cursor:pointer;
}

li.closed{
  list-style-image:url('../img/closed.gif');
  cursor:pointer;
}
li.open{
  list-style-image:url('../img/open.gif');
  cursor:pointer;
}

li.childless{
    list-style-image:url('../img/childless.gif');
  /*cursor:pointer;*/
}

li.open a{
  font-weight: bold;
}

li.active a{
    color: #f04d24;
    /*color: #f04124; yeti red*/
    /*color: #18bc9c; flatly*/
}

ul.CollapsibleList {
    opacity: 0;
}

ul.CollapsibleList {
list-style-type: circle;
list-style-position: inside;
font-size:10px;
padding-left:0px;
}

ul.CollapsibleList > li{
    font-weight: bold;
}


ul.CollapsibleList  ul {
    padding-left:6px;
    display: none;
}
ul.CollapsibleList > ul > ul {
    /*display: none;*/
}

#alsofor {
    top:20px;
    right:20px;
    position: absolute;
    /*color:#aaa;*/
}
