

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}


.margin-top {
margin-top: 40px;
}

p, body {
    font-size:14px;
}

html, body {
    margin: 0px;
}

.alert {
  position: absolute;
  top: 60px;
  /*bottom: 20px;*/
  /*left: 20px;*/
  width: 300px;
  right: 20px;
  height: 50px;
}

.navbar {
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
}

#sidebar {
    background-color: #eee;
}

#main-full{
    padding:20px;
    overflow-y: auto;
    width: 100%;
}

/*DESKTOP*/
@media (min-width: 992px){
    #content {
        overflow: hidden;
    }

    #main-full{
    position: absolute;
    bottom: 40px;
    top: 45px;
    /*max-width:920px;*/
    /*margin: auto;*/
}

    #sidebar {
        position: absolute;
        width: 35%;
        top: 45px;          /* Height of Nav Bar*/
        bottom: 40px;       /* Height of Footer*/
        left: 0;
        overflow-y: auto;
        padding:0px;
        border-right: 1px solid #ddd;
        /*Quick search space*/
    }
    #main-sidebar {
        position: absolute;
        width: 65%;
        top: 45px;          /* Height of Nav Bar*/
        bottom: 40px;       /* Height of Footer*/
        right: 0;
        overflow-y: auto;
        padding: 20px;
    }

    #sidebar-search {
        /*position: fixed;*/
        /*width: inherit;*/
        z-index: 99;
        position: relative;
        padding:20px;
        padding-bottom: 8px;
        margin:0px;
        background-color: #eee;
    }

    #sidebar #menu-loading{
        padding-left: 20px;
    }

    #alsofor {
            top:20px;
            right:20px;
            position: absolute;
            background-color: #eee;
            border: 1px solid #ddd;
            padding: 5px 10px 5px 10px;
            margin: 0px;
    }
    #alsofor p{
        color:999px;
        margin:0px;
    }
}

/*MOBILE*/
@media (max-width: 992px){
    #content {
        /*height: 100%;*/
        overflow-y: auto;
    }

    #main-full{
        margin-bottom: 40px;
    }
    #sidebar {
        position: relative;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid #ddd;
    }
    #main-sidebar {
        position: relative;
        overflow-x: auto;
        margin-bottom: 20px;
        padding-left: 12px;
        padding-top: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
    }
    #alsofor {
    display:none;
    }
}

#comment-bar{
    /*clear: both;*/
    padding-top: 75px;
    padding-left: 0px;
    padding-right: 0px;
}

#myfooter {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #e6e6e6;
    /*background-color: #e0e0e0;*/
    border-top: 1px solid #d6d6d6;
    /*border-top: 1px solid #ccc;*/
    padding-top: 2px;
    line-height: 35px;
    height: 40px;
    width: 100%;
}

#myfooter p {
    font-size: 70%;
    text-align: center;
    color: #aaa;
}
#myfooter a {
    text-align: center;
    color: #999;
}

/* Results list */
li.list-group-item-text {
    /*list-style: none;*/
}

a.navbar-brand {
    /*font-weight: 600;*/
}

#myfooter span.spaced {
margin-left:6px;
margin-right:6px;
display: inline-block;
}

.gist-panel{
padding:0px;
}

.gist-file {
margin:0px !important;
border:0px !important;
}


a > img {
    opacity:0.7;
    filter:alpha(opacity=70);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

a > img:hover {
    opacity:1.0;
    filter:alpha(opacity=100);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}


.bottom-shadow {
    -moz-transition: all 180ms ease-in-out;
    -o-transition: all 180ms ease-in-out;
    -webkit-transition: all 180ms ease-in-out;
    transition: all 180ms ease-in-out;
    box-shadow:
     0px 1px 25px 0px rgba(0,0,0,0.4);

     background-color: #e5e5e5 !important;
     height: 120px;
     border-bottom: 1px solid #bbb;
}


.no-bottom-shadow {
    -moz-transition: all 180ms ease-in-out;
    -o-transition: all 180ms ease-in-out;
    -webkit-transition: all 180ms ease-in-out;
    transition: all 180ms ease-in-out;
    box-shadow:
     0px 0px 0px 0px rgba(0,0,0,0.0);

     background-color: #eee !important;
    border-bottom: 0px solid #eee;
     /*height: auto;*/

}
