

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

p, body {
    font-size:14px;
    }

.alert {
  position: absolute;
  top: 75px;
  /*bottom: 20px;*/
  left: 50px;
  right: 50px;
}




.navbar {
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
}

html, body {
    margin: 0px;
}

#content {
    overflow: hidden;
    /*height: 100vh;*/
}

#sidebar {
background-color: #eee;
}

/*DESKTOP*/
@media (min-width: 900px){
    #sidebar {
        position: absolute;
        top: 45px;
        bottom: 40px;
        left: 0;
        width: 30%;
        overflow-y: auto;
        min-width: 275px;
        padding:0px;
        border-right: 1px solid #ddd;
    }
    #main {
        position: absolute;
        top: 45px;
        bottom: 40px;
        right: 0;
        width: 70%;
        overflow-y: scroll;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        /*margin-bottom: 40px;*/
    }
    #sidebarsearch {
        padding:20px;
        margin-bottom:0px;
        margin-top:0px;
    }

    #sidebar #menu-loading{
        padding-left: 15px;
    }

    #alsofor {
            top:20px;
            right:20px;
            position: absolute;
            background-color: #eee;
            border: 1px solid #ddd;
            padding: 5px 10px 5px 10px;
            margin: 0px;
            /*border-radius: 5px;*/
    }
    #alsofor p{
        color:999px;
        margin:0px;
    }
}

/*MOBILE*/
@media (max-width: 900px){
    html, body {
        /*margin: 0px;*/
        }

    #content {
        /*height: 100%;*/
        overflow-y: auto;
    }
    #sidebar {
        position: relative;
        /*height:100%;*/
        /*overflow-y: scroll;*/
        /*margin-bottom: 20px;*/
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid #ddd;
    }
    #main {
        position: relative;
        /*height:100%;*/
        /*overflow-y: scroll;*/
        overflow-x: auto;
        margin-bottom: 20px;
        padding-left: 12px;
        padding-top: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
    }

    #alsofor {
    display:none;
    }
}

#comment-bar{
    margin-top: 50px;
}

#myfooter {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #e0e0e0;
    border-top: 1px solid #ccc;
    padding-top: 2px;
    line-height: 35px;
    height: 40px;
    width: 100%;
}

#myfooter p {
    font-size: 70%;
    text-align: center;
    color: #aaa;
}
#myfooter a {
    color: #999;
}

/*results list*/
li.list-group-item-text {
    list-style: none;
}

a.navbar-brand {
    /*font-weight: 600;*/
}
