/*@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300);*/

#mainSection td{
    border-bottom:0px !important;
    border-bottom:1px solid #/eee !important;
}

#mainSection, #header{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color:#666 !important;
}

#mainSection .summary{
    margin-top:12px;
}

#mainSection span{
    line-height:18px;
}

#mainSection .heading {
    font-weight:100;
    color:#999;
}
#mainSection .heading img{
    display:none;
}

#gradientTable{
    display:none;
}

div.code pre {
font-family: 'Roboto Mono','Consolas','monospace' !important;
border:1px #ddd solid;
background-color: #fafaff!important;
padding:12px;
}

.highlight-title{
    border-bottom:0px !important;
}

#mainSection td {
background-color:#fff !important;
}

#mainSection th {
color:#666 !important;
background-color:#fff !important;
}


#mainSection span .identifier  {
    font-weight:bold;
    color:#f04d24;
    /*color:#e74c3c; red-orange*/
}

#mainSection span .keyword {
    font-weight:normal;
    color:#54b593;
    /*color:#008cba; blue */
}
.highlight-keyword{
    font-weight:normal;
    color:#54b593 !important;
    /*color:#18bc9c !important;*/
    }

.highlight-number{
    color:#70678e !important;
    /*color:#18bc9c !important;*/
    }

.code pre{
    color:#666 !important;
}

.highlight-literal{
    font-style: italic;
    color: #e89066 !important;
}

.highlight-comment{
    font-weight: bold;
    color:#b7b9b8 !important;
}

.footerLine {
    display:none;
}

#mainSection th{
    line-height:20px;
    border-bottom:1px solid #eee !important;
    padding-bottom:5px;
}

#mainSection td{
    border-bottom:1px solid #eee !important;
    padding-bottom:5px !important;
    padding-top:5px !important;
}

#mainSection img{
    opacity:0.75;
}

div #header{
    margin-top:-20px;
}

div#header p{
    font-size: 10px !important;
}
div#header a{
    font-size: 10px !important;
}


/*FIX INVALID*/
body #mainBody, body #mainBody a, body #mainBody p, body #mainBody span {
    font-size: 12px !important;
}

#runningHeaderText{
    display:none !important;
}

#remarksSection {
/*font-size: 12px !important;*/
/*ENLARGE THIS: http://www.revitapidocs.com/2016/c53f2132-bc08-1650-b1c6-bc7b66ff7a5d.htm*/
}
