<html>
<header>
<!--<style>
html {
  font-family:Trebuchet MS;
  font-size:16px;
  color: #333;
  }

h1 {
  font-size:26px;}

table,th,td {
  font-family:Trebuchet MS;
  font-size:16px;
  margin-top:20px;
  margin-bottom:20px;
  padding:4px 16px 4px 16px;
  border:2px solid #ccc;
  border-collapse: collapse;
  }
table th {
    color: white;
    background-color: #666;
  border:2px solid #666;
}

</style>-->

</header>
<body style="font-family: Century Gothic, Futura, sans-serif; color:#666; font-size:16px">

<p>
Hello {{ firstname }},

Your account was successfully created. Please click the link below <br>
to confirm your email address and activate your account:
</p>

<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>

<p>
--<br>
Questions? Comments? Email gtalarico@gmail.com
</p>
</body>
</html>
