{% extends "base.html" %}

<!-- Rendered tempaltes must include header() macro#} -->
{% from '%s' % content import header %}
{% block header %}
    {{ header() }}
{% endblock %}

{% block content %}

    <div class="col-sm-12 col-md-4 col-lg-3" id="sidebar">


        {# Add menu for the correct year #}
        {# {% include '%s' % ns_template with context %}#}
        <div class="form-group" id="sidebarsearch">
        <label class="control-label">Quick Search</label>
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" id="input-search">
              <span class="input-group-btn">
                <button class="btn btn-default" id="btn-search" type="button" data-toggle="modal" data-target="#myModal">Search</button>
              </span>
          </div>
        </div>

        <span id="menu-loading" class="small text-muted"><img src="{{ url_for('static', filename="img/loader.gif") }}">
        &nbsp;Loading</span>
        <div id="treeview"></div>

        {# Add Google Search Box #}
        {#{% include 'google_search.html' %}#}

    </div>

    <div class="col-sm-12 col-md-8 col-lg-9" id="main">
        {% if active_ul and available_in%}
            <div id='alsofor'>
                <p class="small"><small>
                    API VERSIONS |
                    {% for year in available_in %}
                    <a href="/{{year}}/{{active_ul}}"> {{year}} </a>
                    {% endfor %}
                </small></p>
            </div>
        {%endif%}

        {% include '%s' % content %}
        <hr />
        {# <div class="comment-bar">#}
        {% include 'disqus.html' %}
        {# </div>#}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Results: </h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>


{% endblock %}

{% block script %}
    {# This script is added here because it usus the active_ul variable#}
    <script>

    var string_json
    $.getJSON("tree.json", function(json) {
        string_json = JSON.stringify(json);
        buildMenu()
    });


    function buildMenu() {

        var $searchableTree = $('#treeview').treeview({
              expandIcon: "glyphicon glyphicon-stop",
            //   expandIcon: "glyphicon glyphicon-stop",
              collapseIcon: "glyphicon glyphicon-unchecked",
            //   emptyIcon: "glyphicon",
              showBorder: false,
              levels: 1,
              enableLinks: true,
              onhoverColor: '#fff',
              backColor: '#eee',
              data: string_json,
            });

        // https://github.com/jonmiles/bootstrap-treeview
        var activeNodeId = $.cookie("activeNodeId")
        console.log(activeNodeId)
        if (activeNodeId == undefined){
            activeNodeId = 0;
            }
        else {
            var activeNodeId = parseInt(activeNodeId)
             };
        console.log(activeNodeId)
        // Once bootstrap-view can get node by ref, cookie won't be necessary
        // and can copy similar behavious to what manual UL list had
        // var active = $('#treeview').treeview('getNode', [ activeNodeId ]);
        $('#treeview').treeview('revealNode', [ activeNodeId, { silent: false } ]);
        $('#treeview').treeview('toggleNodeSelected', [ activeNodeId, { silent: false } ]);
        var active_ul_id = $('.node-treeview a[href$="{{active_ul}}"]').closest('li').data('nodeid')

        $('#treeview').on('click','a',function() {
            var parentNodeId = $(this).parent('li').data('nodeid');
            console.log(parentNodeId);
            if(typeof parentNodeId !== "undefined") {
            $.cookie("activeNodeId", parentNodeId);
            };
        });

        $('#main').on('click','a',function() {
            var url = $(this).attr('href')
            var parentNodeId = $('.node-treeview a[href$="' + url+'"]').closest('li').data('nodeid')
            if(typeof parentNodeId !== "undefined") {
                $.cookie("activeNodeId", parentNodeId);
                }
            // var parentNodeId = $('.node-treeview a[href$="' + url+'"]').closest('li').data('nodeid')
            // console.log('MainClick');
            // console.log(parentNodeId);
            // console.log('---');
            // $.cookie("activeNodeId-main", parentNodeId);
        });

        $('#menu-loading').animate({opacity: 0},250);
        $('#menu-loading').remove();


    };

    $( document ).ready(function() {

        function search(e){
        var pattern = $('#input-search').val();
        var string_json;
            $.getJSON("/2015/search?query="+pattern, function(json) {
                // results = json;
                // results = JSON.parse(json);
                results = JSON.stringify(json);
                buildResults(results, pattern)
            });
        };

        function buildResults(results, pattern){

            // $.each(results, function (index, result) {
            //   output += '<p>- ' + result.text + '</p>';
            // });
            $('.modal-body').append(results);
            $('.modal-title').append(pattern);

        };

        $("#btn-search").click(function() {
            search()
        });

    });

    </script>

{% endblock %}
