{% extends "base.html" %}

<!-- Rendered tempaltes must include header() macro#} -->
{% from '%s' % content import header %}
{% block header %}
    {{ header() }}
{% endblock %}

{% block content %}

    <div class="col-sm-12 col-md-4 col-lg-3" id="sidebar">

        <!-- SIDEBAR SEARCH -->
        {# Add menu for the correct year #}
        {# {% include '%s' % ns_template with context %}#}
        <div class="form-group" id="sidebarsearch">
        <label class="control-label">Quick Search</label>
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" id="input-search" placeholder="ElementClass">
              <span class="input-group-btn">
                <button class="btn btn-default" id="btn-search" type="button" data-toggle="modal" data-target="#myModal">Search</button>
              </span>
          </div>
        </div>
        <!-- SIDEBAR SEARCH -->

        <span id="menu-loading" class="small text-muted"><img src="{{ url_for('static', filename="img/loader.gif") }}">
        &nbsp;Loading</span>
        <div id="treeview"></div>

        {# Add Google Search Box #}
        {#{% include 'google_search.html' %}#}

    </div>

    <div class="col-sm-12 col-md-8 col-lg-9" id="main">
        {% if active_ul and available_in%}
            <div id='alsofor'>
                <p class="small"><small>
                    API VERSIONS :
                    {% for year in available_in %}
                    <a href="/{{year}}/{{active_ul}}"> {{year}} </a>
                    {% endfor %}
                </small></p>
            </div>
        {%endif%}

        {% include '%s' % content %}
        <hr />
        {# <div class="comment-bar">#}
        {% include 'disqus.html' %}
        {# </div>#}
    </div>

    <!-- MODAL SEARCH -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Results: </h4>
          </div>
          <div class="modal-body">
              <ul class="list-group" id="modal-list-group">
              </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL SEARCH -->


{% endblock %}

{% block script %}
    <script>

$(document).ready(function() {
    // LOAD MENU
    var string_json
    var ajax = $.getJSON("namespace.json", function(json) {
        string_json = JSON.stringify(json);
        buildMenu()
    });
    ajax.always(function() {
        console.log('Ajax JSON namespace loaded.');
        });

    // LOAD MENU CALL BACK
    function buildMenu() {

        var $searchableTree = $('#treeview').treeview({
              expandIcon: "glyphicon glyphicon-stop",
              collapseIcon: "glyphicon glyphicon-unchecked",
              emptyIcon: "glyphicon glyphicon-unchecked",
            //   selectedIcon: 'glyphicon glyphicon-chevron-right',
              selectedBackColor: "#333",
              selectedColor: "#eee",
              showBorder: false,
              levels: 1,
              enableLinks: true,
              onhoverColor: '#e0e0e0',
              backColor: '#eee',
              data: string_json,
            });

        if ("{{active_ul}}" == 'None'){
            // console.log('active_ul not defined. Using 0')
            activeNodeId = 0
        } else {
                var node, activeNodeId, nodeId = 0;
                do {
                    node = $('#treeview').treeview("getNode", nodeId);
                    if (node && node.href == "{{active_ul}}") {
                        // console.log(node.nodeId)
                        activeNodeId = node.nodeId
                    };
                    nodeId++;
                    } while (node.nodeId != undefined);
                };
        if (activeNodeId == undefined){
        activeNodeId = 0
        };

        $('#treeview').treeview('revealNode', [ activeNodeId, { silent: false } ]);
        $('#treeview').treeview('toggleNodeSelected', [ activeNodeId, { silent: false } ]);

        $('#menu-loading').animate({opacity: 0},250);
        $('#menu-loading').remove();

    };



    function search(e){
    var pattern = $('#input-search').val();
    var string_json;
        $.getJSON("/2015/search?query=" + pattern, function(json) {
            results = json;
            // results = JSON.parse(json);
            // results = JSON.stringify(json);
            buildResults(results, pattern)
        });
    };

    function buildResults(results, pattern){
        $('.modal-title').append(pattern);

        // var decoder = $('<div />');
        // var decodedText = '';
        var output
        $.each(results, function (index, value) {
        output = '<li class="list-group-item"><a href="' + value.link + '">' + value.name + ':' +'</a></li>'
        $('#modal-list-group').append(output);
        // decodedText += decoder.text();
            });
    };

    $("#btn-search").click(function() {
        search()
    });

}); //END OF DOC READY

    </script>

{% endblock %}
