<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- CHILD HEADER -->
        {% block header %}
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% endblock %}
        <!-- CHILD HEADER -->


        <meta name="description" content="Online Reference for Autodesk's Revit API: 2015, 2016, 2017">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8">
        <meta name="ROBOTS" content="INDEX, FOLLOW">
        <meta name="google-site-verification" content="Dn1KWTK6Dm3XMYL1XHu2FUNgz4YH8bUA0YGoFkoWpi0" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">

        <link rel="shortcut icon" href="{{ url_for('static', filename="favicon.png") }}">
        <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
        {% assets "css_assets" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {% endassets %}


    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- MENU-->
        <div id="wrapper">

            {% include "nav.html" ignore missing with context %}

            <!-- MENU-->
            <div id="content">
                {% block content %}
                {% endblock %}

            </div>
            <div class"push"></div>

            <div id="myfooter">
                <p><span class="hidden-xs">
                Powered By <a href="http://pythong.org">Python</a> +
                <a href="http://flask.pocoo.org/">Flask</a>
                &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                Bootstrap Theme by <a href="https://bootswatch.com/flatly/">Bootswatch</a>
                &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
                Compiled and Styled by <a href="http://gtalarico.com">Gui Talarico</a></p>
            </div>
        </div>


        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            {% if category == 'message' %}
            <div class = "alert alert-info" role="alert">
            {% else %}
            <div class = "alert alert-{{category}}" role="alert">
            {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{message}}
                </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        {% assets "js_assets" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% block script %}
            {# End of page script for child template: ie: menu script requiest context #}
        {% endblock %}

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-3836052-8', 'auto');
          ga('send', 'pageview');
        </script>



    </body>
</html>
