<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- CHILD HEADER -->
        <!-- ADDED HEDE SO CSS IS OVERRIDEN -->
        {% block header %}
        {% endblock %}
        <!-- CHILD HEADER -->

        <meta name="google-site-verification" content="Dn1KWTK6Dm3XMYL1XHu2FUNgz4YH8bUA0YGoFkoWpi0" />
        <meta name="theme-color" content="#222">
        <meta name="description" content="Online Documentation for Autodesk's Revit API: 2015, 2016, 2017">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
        <meta name="ROBOTS" content="INDEX, FOLLOW">

        <link rel="icon" sizes="192x192" href="{{ url_for('static', filename="icon-192.png") }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename="icon-144.png") }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename="icon-16.png") }}">
        {% assets "css_assets" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {% endassets %}

    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {# <div id="wrapper">#}
            <!-- NAV MENU -->
            {% include "nav.html" ignore missing with context %}
            <!-- NAV MENU -->

            <!-- MAIN BODY -->
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <!-- MAIN BODY -->
            {# <div class"push"></div>#}

            <div id="myfooter">
                <p><span class="hidden-xs">
                Powered By <a href="http://pythong.org">Python</a> +
                <a href="http://flask.pocoo.org/">Flask</a>
                &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                Bootstrap Theme by <a href="https://bootswatch.com/flatly/">Bootswatch</a>
                &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                Compiled and Styled by <a href="http://gtalarico.com">Gui Talarico</a></span></p>
            </div>
        {# </div>#}


        {% include 'messages.html' %}

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
        {% assets "js_assets" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% block script %}
            {# End of page script for child template: ie: menu script requiest context #}
        {% endblock %}

        {# Google Analytics Script#}
        {% include 'analytics.html' %}

        <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
        <!-- SCHEMA -->
        {% include 'schema.html' %}
        <!-- SCHEMA -->

    </body>
</html>
