{% macro header() %}
<title>Revit API 2015: Whats' New</title>
{% endmacro %}

<h4>Revit API 2016</h4>
<hr />
<p class="small"><a href="new_{{year}}.html">
 What's New in the Revit 2016 API
</a></p>
<small>Use the expandable menu on or the search box input to navigate
the namespaces in the API.</small>
    <br />
    <br />
    <small>
    For more information visit the
    <a href="http://usa.autodesk.com/adsk/servlet/index?siteID=123112&id=2484975">
    Autodesk Developer Network</a></small>
<br />
<br />

<br />
<br />
<br />
<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Share</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
