{% macro header() %}
<title>Revit API Docs {{year}}</title>
{% endmacro %}
<!-- TITLE TAG FROM HOME.HTML -->
<h4>Revit API {{year}}</h4>
<!-- TITLE TAG FROM HOME.HTML -->
<hr />
<p><a href="new_{{year}}.html">
 What's New in the Revit {{year}} API
</a></p>
Use the expandable sidebar navigation or search box to explore the official API documentation.
    <br />
    <br />

    For more information visit the
    <a href="http://usa.autodesk.com/adsk/servlet/index?siteID=123112&id=2484975">
    Autodesk Developer Network</a>
<br />
<br />
<br />
<br />
<!-- <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Share</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
<a href="http://twitter.com/intent/tweet?text=Check out &url=http://www.RevitAPIdocs.com/{{year}}/&hashtags=revitapi"><img src="{{ url_for('static', filename="img/tweet.png") }}" alt="Tweet" /></a>
