{% extends "base.html" %}
{% block content %}


<div id="sidebar">
</div>

<div id="main">
    <h4>Revit API Docs</h4>
    <hr />
    <p>This website was created to facilitate access to the Revit SDK Api documentation by providing a web-based,
        searchable copy of the official documentation.</p>
        <p>
        For more information about the official documentation visit
        <a href="http://usa.autodesk.com/adsk/servlet/index?siteID=123112&id=2484975">
        Autodesk Developer Network</a></p>
    <br />
    <a class="btn btn-default" href="/2015">2015</a>
    <a class="btn btn-default" href="/2016">2016</a>
    <a class="btn btn-default" href="/2017">2017</a>
    <br />
    <br />
    <br />

    <h4>About the Project</h4>
    <hr />

    <p>This website was inspired but the seemingly abandonded <a href="http://revitapisearch.com">
        revitapisearch.com</a><p>
    <p>The website was created by extracting the help content from the SDK .chm filter
        and creating a light weight flask server to serve them.

        Please report issues or contribute to this project on the <a href="https://github.com/gtalarico/revitapidocs">
            Github repo</a>.

</div>

{% endblock %}
