{% extends "base.html" %}

{% block header %}
<title>Revit API Docs</title>
{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-12 col-lg-12">
    <br/>
    <h4>Online Documentation for the Revit API</h4>
    <hr />
    This website was created to facilitate access to the
        Revit API documentation by providing a web-based,
        searchable copy of the official API documentation.
        <br />
        <br />
        For more information about the API visit the
        <a href="http://usa.autodesk.com/adsk/servlet/index?siteID=123112&id=2484975">
        Autodesk Developer Network</a>
    <br />
    <br />
    <h5>Available APIs:</h5>
    <a class="btn btn-default" href="/2015/">2015</a>
    <a class="btn btn-default" href="/2016/">2016</a>
    <a class="btn btn-default" href="/2017/">2017</a>
    <br />
    <hr />

    <small class="text-muted">This website was created with content extracted from the official Revit SDK.</small>
    <small class="text-muted">Please don't sue me.</small>
    <br />
    <br />
    <a href="https://twitter.com/intent/tweet?screen_name=gtalarico" class="twitter-mention-button" data-show-count="false">Tweet to @gtalarico</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br />
    <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Share</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

{% endblock %}
