{% extends "base.html" %}

{% block header %}
<title>Revit API Docs - Python</title>
{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 col-lg-12" id="main-full">
<h4>Python + Revit API <span class="text-muted small"> BETA</span></h4>
<hr />
<p>As the official documentation lacks Python coverage, I thought it would be helpful to include some examples and snippets alongside it.</p>
<p>The code below should work with <a href="https://github.com/architecture-building-systems/revitpythonshell">RevitPythonShell</a>
and <a href="https://github.com/eirannejad/pyRevit">pyRevit</a>, but can be also be used within Dynamo with minor tweaks.</p>
<p>For a more comprehensive set of examples of Python interacting with the Revit API, check out the <a href="https://github.com/eirannejad/pyRevit">pyRevit Repository</a>
or some of the links in the <a href="/">main page.</a></p>
<p>Code is hosted on <a href="https://gist.github.com/gtalarico/">gist.github.com</a>.</p>
<br />
<!-- <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Share</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
<a href="http://twitter.com/intent/tweet?text=Check out &url=http://www.RevitAPIdocs.com/python/&hashtags=revitapi"><img src="{{ url_for('static', filename="img/tweet.png") }}" alt="Tweet" /></a>
    {% if 'error' in gists_categories.keys() %}
    <div class="panel panel-danger margin-top ">
      <div class="panel-heading">Damn</div>
        <div class="panel-body">
        <p>Something went wrong requesting the latest code snippets.</p>
        <p>While we get this sorted out, you can access the same code directly on <a href="https://gist.github.com/gtalarico/">github</a>.</p>
        <p class="small text-muted">Error Code: {{ gists_categories.error }}</p>
      </div>
    </div>


    {% else %}
    <div class="row"> <!--  ROW -->
        {% for category, gists in gists_categories.items() %}
        <div class="col-sm-12 col-md-6 col-lg-6">
            <br/>
            <h4>{{ category }}</h4>
            <hr />
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% set cat_loop = loop.index %}
                    {% for gist in gists %}
                      <div class="panel panel-default">
                        <div class="panel-heading" role="button" id="heading{{cat_loop}}-{{loop.index}}"  data-toggle="collapse" data-parent="#accordion" href="#collapse{{cat_loop}}-{{loop.index}}" aria-expanded="true" aria-controls="collapse{{cat_loop}}-{{loop.index}}">
                          <h4 class="panel-title">
                              {{ gist.name }}
                          </h4>
                        </div>
                        <div id="collapse{{cat_loop}}-{{loop.index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{cat_loop}}-{{loop.index}}">
                          <div class="panel-body gist-panel">
                            <script src="{{gist.url}}"></script>
                          </div>
                        </div>
                      </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div> <!--  ROW -->
    {% endif %}
    {% include 'disqus.html' %}
</div>

{% endblock %}

{% block script %}
{% endblock %}
