{% extends "base.html" %}

{% block header %}
<title>Revit API Docs</title>
{% endblock %}

{% block content %}
 <br/>
<div class="col-sm-12 col-md-12 col-lg-12">
<h4>Python Gists</h4>
<hr />
<p>As the official documentation lacks any mention of Python, I thought it would be helpful to create a page where one can find python examples and snippets.</p>
<p>For a much more comprehensive set of examples of Python interacting with the Revit API, check out the <a href="https://github.com/eirannejad/pyRevit">pyRevit Repository.</a>
or some of the links in the <a href="/">main page.</a></p>
    <div class="row"> <!--  ROW -->
    {% for category, gists in gists_categories.items() %}
    <div class="col-sm-12 col-md-6 col-lg-6">
        <br/>
        <h4>{{ category }}</h4>
        <hr />
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% set cat_loop = loop.index %}
                {% for gist in gists %}
                  <div class="panel panel-default">
                    <div class="panel-heading" role="button" id="heading{{cat_loop}}-{{loop.index}}"  data-toggle="collapse" data-parent="#accordion" href="#collapse{{cat_loop}}-{{loop.index}}" aria-expanded="true" aria-controls="collapse{{cat_loop}}-{{loop.index}}">
                      <h4 class="panel-title">
                          {{ gist.name }}
                      </h4>
                    </div>
                    <div id="collapse{{cat_loop}}-{{loop.index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{cat_loop}}-{{loop.index}}">
                      <div class="panel-body gist-panel">
                        <script src="{{gist.url}}"></script>
                      </div>
                    </div>
                  </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    </div> <!--  ROW -->
    {% include 'disqus.html' %}
</div>

{% endblock %}

{% block script %}
<!-- START API SCRIPT  -->
<script>
$(document).ready(function() {

};

// $(document).ready(function() {
//     var string_json;
//     var ajax = $.getJSON("/gists/gists.json", function(json) {
//             results = json;
//             buildResults(results)
//         });
//     function buildResults(results) {
//
//         var content = ''
//         $.each(results, function (index, value) {
//         var name = '<p>' + value.name + '</p>'
//         var desc = '<p>' + value.description + '</p>'
//         var code = '<p>' + value.code + '</p>'
//         content += name + desc + code
//         });
//
//     };  // End of Build Menue Call Back Function
// }); //END OF DOC READY

</script>
{% endblock %}
